
/*
  Color theme properties
 */



:root.dark-mode {

    --bckgnd-color:         #101010;
    --accent-color:         #2c9694;
    --text-main-color:      #ddd;
    --text-secondary-color: #666;
    --light-gray-1-color:   #333;
    --light-gray-2-color:   #222;

    /* UI elements colors*/
    --btn-hover-color: #fff;
    --btn-disabled-color: #555;
    --toggle-button-color: #fff;
    --delete-btn-background-color: transparent;
    --system-output-color: #cacaa2;
    --error-output-color: #ee9999;
    --variables-trace-color: #616138;
    --dropdown-content-hover-color: #fff;
    --light-source-background-color: #ddd;
    --loading-spinner-background-color: #0f0f0f;
    --loading-spinner-color: #c0c0c0;
    --pull-tab-color: #666;
    --slider-background-color: #101010;

    /* Editor Monokai color palette */
    --editor-background-color: #272822;
    --editor-text-color: #f8f8f2;
    --editor-gutter-background-color: #222;
    --editor-linenumber-color: #90918b;
    --editor-cursor-color: #f8f8f0;
    --editor-selected-color: #49483E;
    --editor-empty-color: #707165;
    --editor-comment-color: #75715e;
    --editor-variable-color: #a6e22e;
    --editor-string-color: #e6db74;
    --editor-operator-color: #d0d0d0;
    --editor-enclosing-color: #d0d0d0;
    --editor-number-color: #ae81ff;
    --editor-move-color: #fd971f;
    --editor-command-color: #66d9ef;
    --editor-keyword-color: #f92672;
    --editor-activeline-background-color: #373831;
    --editor-matchingbracket-color: #fff;
    --editor-error-line-background-color: #602822;
    --editor-debugging-line-background-color: #305010;

}





:root.light-mode {

    --bckgnd-color:         #fafafa;
    --accent-color:         #3bccca;
    --text-main-color:      #333;
    --text-secondary-color: #666;
    --light-gray-1-color:   #d9d9d9;
    --light-gray-2-color:   #f0f0f0;

    /* UI elements colors*/
    --btn-hover-color: #333;
    --btn-disabled-color: #aaa;
    --toggle-button-color: #333;
    --delete-btn-background-color: transparent;
    --system-output-color: #333;
    --error-output-color: #b30000;
    --variables-trace-color: #333;
    --dropdown-content-hover-color: #333;
    --light-source-background-color: #d9d9d9;
    --loading-spinner-background-color: #c0c0c0;
    --loading-spinner-color: #0f0f0f;
    --pull-tab-color: #aaa;
    --slider-background-color: #fafafa;

    /* Editor Monokai color palette */
    --editor-background-color: #fafafa;
    --editor-text-color: #333;
    --editor-gutter-background-color: #f0f0f0;
    --editor-linenumber-color: #707070;
    --editor-cursor-color: #333;
    --editor-selected-color: #eee;
    --editor-empty-color: #888888;
    --editor-comment-color: #666666;
    --editor-variable-color: #75af00;
    --editor-string-color: #dbb24a;
    --editor-operator-color: #111111;
    --editor-enclosing-color: #111111;
    --editor-number-color: #ae81ff;
    --editor-move-color: #fd971f;
    --editor-command-color: #00a8c8;
    --editor-keyword-color: #f92672;
    --editor-activeline-background-color: #eee;
    --editor-matchingbracket-color: #000;
    --editor-error-line-background-color: rgba(255, 23, 0, 0.2);
    --editor-debugging-line-background-color: rgba(125, 255, 0, 0.2);

}

