html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#drawCanvas{
	z-index: 1;
}

#controlsColumn {
	position: fixed;
  overflow: auto;
	top: 5px;
	right: 10px;
	width: 450px;
	height: 100%;
	z-index: 10;
}

#controlsColumn :focus{
  outline: none !important;
}

#controlsColumn textarea{
	top: 10px
	right: 10px;
	width: 400px;
	background-color: #111111;
	color: #eeeeee;
	border: 3px solid #333333;
	font-family: Consolas, monospace;
	font-size: 16px;
	resize: none;
}

#sourceCodeTextArea{
  height: 400px;
}

#sourceCodeTextArea:focus{
  outline: none !important;
  border-color: #444444;
  outline-color: #444444;
}

#consoleTextArea{
  height: 150px;
}

#buttonDiv button {
  background-color: #222222;
  border: 3px solid #333333;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Lucida Console;
}

#buttonDiv button:hover {
  background-color: #333333;
}

#buttonDiv input{
  float:right;
}

.areaTitle {
  font-family: Lucida Console, Verdana, monospace;	
  color: #eeeeee;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.sliderContainer {
  width: 90%; /* Width of the outside container */
  margin: 10px;
  padding: 5px;
}

/* The slider itself */
.sliderContainer .slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 65%; /* Full-width */
  height: 10px; /* Specified height */
  background: #333333; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 3px;
  float:right;
  transform: translate(0, 40%);
}

/* Mouse-over effects */
.sliderContainer .slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sliderContainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #666666; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%; 
}

.sliderContainer .slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #666666 ; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%; 
}

.sliderContainer .sliderVarName{
  font-family: Consolas;
  color: #888888;
  font-size: 18px;
  padding-right: 10px;
}

.sliderContainer output{
  padding-right: 10px;
  color: #888888;
  font-family: Consolas;
  font-size: 18px;
  float:right;

}

::-moz-selection { /* Code for Firefox */
  background: #aaaaaa;
}

::selection {
  background: #aaaaaa;
}

#CameraInstructions {
  font-family: Lucida Console;
  color: #333333;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 14px;
}

#copyright{
  font-family: Consolas;
  color: #222222;
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 12px;
}

.onoffswitch {
    position: fixed;
    width: 30px;
    top: 95px;
    left: 20px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 11px; padding: 0; line-height: 11px;
    border: 0px solid #FFFFFF; border-radius: 18px;
    background-color: #333333;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 18px; margin: -3.5px;
    background: #555555;
    position: absolute; top: 0; bottom: 0;
    right: 15px;
    border-radius: 18px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #333333;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #5D5D5D;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #A3A3A3; 
    box-shadow: 5px 5px 18px 0px rgba(120, 120, 120, 0.5);
}