/*
  -------------- General Rules --------------
 */


body {
  margin: 0;
  padding: 0;
  background-color: var(--bckgnd-color);
}

body, button {
  font-family: 'JetBrains Mono', monospace;
}

.codeFont, .CodeMirror, .CodeMirror-hints {
  font-family: Consolas, monospace !important;
}

::-moz-selection { /* Code for Firefox */
  background: var(--light-gray-1-color);
}

::selection {
  background: var(--light-gray-1-color);
}

canvas {
  position:fixed;
  display: block;
  z-index: -5;
}

* {
  box-sizing: border-box;
}

.brightText {
  color: var(--text-main-color);
}

.subtleText1 {
  color: var(--text-secondary-color);
}

.subtleText2 {
  color: var(--text-secondary-color);
}


/*
  ------------- Button styling ---------------
 */

.btn {
  background-color: var(--light-gray-1-color);
  color: var(--text-main-color);
  border-color: var(--light-gray-1-color);
  border-style: solid;
  outline: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}

.btn:hover:not([disabled]){
  color: var(--btn-hover-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn:disabled {
  color: var(--btn-disabled-color);
  cursor: auto ;
}

.bigButton {
  padding: 10px 0px;
  margin: 4px 4px;
  width: 61px;
  border-width: 3px;
  font-size: 16px;
}

.mediumButton {
  padding: 5px 5px;
  margin: 4px 4px;
  border-width: 3px;
  font-size: 14px;
}

.smallButton {
  padding: 1px 5px;
  border-width: 2px;
  font-size: 11px;
  margin: 5px 3px 0px 4px;
}

.circularButton{
  border-width: 3px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 6px 2px;
  border-radius: 50%;
  font-size: 16px;
}

.toggleButton.checked{
  background-color: var(--accent-color);
  color: var(--toggle-button-color);
}

.toggleButton.checked:hover{
  background-color: var(--accent-color);
}

.deleteButton {
  background-color: var(--delete-btn-background-color);
  border: none;
  color: var(--text-secondary-color);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.deleteButton:hover {
  color: var(--text-secondary-color);
}

.afterAsset {
  margin-left: 80px;
}

#viewSettings:not(.expanded)::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078";
}

#viewSettings.expanded::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f077";
}

#extraControls{
  display: none;
  background-color: var(--light-gray-1-color);
  border-radius: 25px;
}

/*
  -----------General page layout--------
 */

#viewPanelControls{
  float : right;
  margin-right: 12px;
  margin-top: 30px;
}

#controlsColumnScroll{
  float: right;
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#controlsColumnScroll::-webkit-scrollbar {
  display: none;
}

#controlsColumn {
  margin-right: 25px;
  margin-top: 10px;
}

#controlsColumn :focus{
  outline: none !important;
}

#sourceCodeContainer {
  position: relative;
  resize: both;
  overflow: auto;
  min-height: 414px;
  min-width: 414px;
  width: 414px;
  height: 414px;
  z-index: 1;
}

.rtl{
  direction: rtl;
}



/*
  ----------Camera instructions----------
 */

#CameraInstructions {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 14px;
}

#CameraInstructions label{
  display:block;
  margin: 1px;
}

#logoIcon {
  height: 30px;
  margin-bottom: -8px;
}

#CameraInstructions h1 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 4px;
  display: inline-block;
}

#CameraInstructions h1 .bigger{
  font-size: 18px;
}

#CameraInstructions h2 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 8px;
}

#fpsLabel, #fpsValue, #retainModeLabel, #retainModeValue{
  margin: 1px;
}


/*
  Editor and console
 */
.CodeMirror {
  position:relative;
  background-color: var(--light-gray-2-color);
  border-color: var(--light-gray-1-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 4px;
  font-size: 14px;
  height: inherit !important;
  min-height: 414px;
  overflow: auto;
}

.CodeMirror-scroll{
  min-height: 400px !important;
}

#consoleTextArea{
  position:relative;
  background-color: var(--light-gray-2-color);
  border-color: var(--light-gray-1-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 4px;
  font-size: 14px;
  white-space: pre-wrap;
  height: 150px;
  min-height: 150px;
  resize: vertical;
  overflow: auto;
  margin-bottom: 2px;
  padding: 5px;
}

#pull-tab {
  height: 0px;
  width: 0px;
  border-top: 8px solid ;
  border-left: 8px solid ;
  border-right: 8px solid ;
  border-bottom: 8px solid ;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: var(--pull-tab-color);
  border-bottom-color: var(--pull-tab-color);
  float: left;
  pointer-events: none;
  z-index: 3;
  position:relative;
  margin: -16px 0px;
}

#hintHelpText{
  border: 1px solid var(--light-gray-1-color);
  border-radius: 3px;
  font-size: 12px;
  background-color: var(--light-gray-1-color);
  color: var(--text-main-color);
  z-index: 5;
  padding: 5px;
}

.system-output{
  color: var(--system-output-color);
}

.error-output{
  color: var(--error-output-color);
}

.variablesTraceTable {
  font-size: 14px;
  border-collapse: collapse;
  width: 300px;
  border: 1px solid var(--variables-trace-color);
}

.variablesTraceTable th {
  font-size: 14px;
  border-bottom: 1px solid var(--variables-trace-color);
  border-top: 1px solid var(--variables-trace-color);
  paddin-left: 3px;
}
.variablesTraceTable td {
  width: 150px;
  max-width: 150px;
  padding-left: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

/*
   Sectors of the controls column
 */

.areaDiv {
  direction: ltr;
  position: relative;
}

.fixedWidth {
  width: 414px;
}

.areaTitle {
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  text-transform: uppercase;
}




/*
  Debug and moves limit area TODO maybe merge to buttonsDiv
 */


#movesLimitDiv {
  height: 28px;
  margin: 5px 0px 2px 0px;
}

#movesLimitLabel {
  margin-top: 7px;
  margin-right: 5px;
  font-size: 12px;
  float: right;
}

#movesLimitDiv input {
  background: var(--bckgnd-color);
  font-size:14px;
  width: 80px;
  padding: 2px;
  color: var(--text-secondary-color);
  position: relative;
  float: right;
  border: 1px solid var(--light-gray-1-color);
  border-radius: 3px;
  margin-top: 3px;
}

/*
  Assets section
 */

.modelDiv, .imageDiv, .soundDiv {
  margin-left: 10px;
  padding: 5px;
  height: 51px;
}

.modelName, .imageName, .soundName {
  color: var(--text-secondary-color);
  font-size: 18px;
  display: inline-block;
  margin-top: 13px;
  background: var(--bckgnd-color);
  width: 100px;
  outline: none;
  border: 1px solid var(--light-gray-1-color);
  border-radius: 3px;
}

.soundDiv audio {
  width: 270px;
  height: 20px;
  margin: 0px 0px -4px 3px;
}

.assetsIcon{
  margin-right: 8px;
  color: var(--text-secondary-color);
}


/*
  Variables Sliders section
 */

.sliderContainer {
  width: 100%; /* Width of the outside container */
  margin: 10px 0px 10px 10px;
  padding: 5px;
}


/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 260px;
  height: 10px; /* Specified height */
  background: var(--light-gray-1-color); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 3px;
  display:inline-block;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--slider-background-color);
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--slider-background-color) ; 
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.sliderNameValue{
  display:inline-block;
  width: 120px;
}

.sliderVarName{
  color: var(--text-secondary-color);
  font-size: 16px;
}

.sliderValue{
  color: var(--text-secondary-color);
  font-size: 16px;
  margin-left: 5px;
}

.rangeLabel{
  color: var(--text-secondary-color);
  font-size: 14px;
  Margin-right: 5px;
}

.rangeInput{
  color: var(--text-secondary-color);
  font-size: 14px;
  display: inline-block;
  margin-top: 13px;
  background: var(--bckgnd-color);
  width: 80px;
  outline: none;
  border: 1px solid var(--light-gray-1-color);
  border-radius: 3px;
  Margin-right: 21px;
}



/*
  Tooltips for hints of buttons
 */

.tooltip .tooltiptext {
  display: none;
  white-space: nowrap;
  padding: 2px 15px 2px 15px;
  background-color: var(--light-gray-1-color);
  color: var(--text-secondary-color);
  text-align: center;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
}

.tooltip .tooltiptext.right {
  left: 120%;
  margin-top: -3px;
}

.tooltip .tooltiptext.left {
  position: absolute;
  width: 140px;
  margin-left: -180px;
}

.tooltip:hover .tooltiptext {
  display: inline-block;
}


/*
  Footer
 */
#copyright {
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 12px;
}

#copyright a, a:visited{
  color: var(--text-secondary-color);
  text-decoration: none;
}

#copyright a:hover{
  color: var(--text-secondary-color);
  cursor: pointer;
}

/*
 The loading 'gif'
 */

#p5_loading {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 10px solid var(--loading-spinner-background-color);
  border-radius: 50%;
  border-top: 10px solid var(--loading-spinner-color);
  width: 50px;
  height: 50px;
  margin: -35px 0 0 -35px; /* minus valies: half of width, height plus border; */
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*
  Color picker styling
 */

.colorPickerInput{
  width: 15px;
  height: 15px;
  margin: 0px;
  padding: 0px;
  display:inline-block;
  border: none;
  outline:none;
  cursor: pointer;
  float: right;
  -webkit-appearance: none;
}

.colorPickerInput::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorPickerInput::-webkit-color-swatch {
  border: none;
}



/*
  Menus and dropdowns.
  dropdown is for the variables dropdown and also used for the assets dropdown. Hides on click away
  menu dropdown is for the menu items. Hides on mouse away
 */

.menubar {
  direction: ltr;
}

.HorizontalRule{
  border: none;
  border-bottom: 1px solid var(--light-gray-2-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 5px;
  font-size: 12px;
  border: none;
  color: var(--text-main-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light-gray-1-color);
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  font-size: 12px;
  color: var(--text-main-color);
}

.dropdown-content.left {
  transform: translate(-70%);
}


/* Links inside the dropdown */
.dropdown-content div ,.dropdown-content li {
  padding: 12px 16px;
  display: block;
}

.dropdown-content div:hover ,.dropdown-content li:hover {
  background-color: var(--accent-color);
  color: var(--dropdown-content-hover-color);
  cursor: pointer;
}


/* Show the dropdown menu on hover */
.show-on-hover.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.show-on-hover.dropdown:hover .dropdown-button {
  background-color: var(--light-gray-1-color);
  cursor: default;
}

.show {display: block !important;}

.hide {display: none !important;}


/*
  The project name input. Editable but not as a normal text input field
 */
#projectNameContainer {
  background-color: inherit;
  border: none;
  color: var(--text-secondary-color);
  text-align: right;
  margin-right: 10px;
  margin-top: 2px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  display:inline-block;
  float: right;
}

#projectNameContainer:not(.editing):hover {
  color: var(--text-main-color);
  cursor: pointer;
}

#projectNameInputField{
  background-color: inherit;
  color: inherit;
  border: none;
  text-align: right;
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  display:inline-block;
  cursor: inherit;
}

#projectNameContainer:not(.editing)::after{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f303";
  /*margin-left:-5px;*/
}

#projectNameContainer.editing input{
  border: 1px solid var(--light-gray-1-color);
  text-align: left;
  border-radius: 3px;
  padding:1px 3px;
}

/*
  the light source manipulation element
 */
#lightSource{
  display: none;
  position:fixed;
  z-index:10;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  background-color: var(--light-source-background-color);
  border-radius: 50%;
  box-shadow: 0 0 50px var(--light-source-background-color);
  text-align: center;
}

#lightSource input{
  display:none;
  margin-top:80px;
}

#lightSource:hover {
  cursor:move;
}

#lightSource:hover input{
  display:initial;
}

audio {
  filter: grayscale(1) invert(var(--audio-invert-percentage));
}
