html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#drawCanvas{
	z-index: 1;
}

#controlsColumn {
	position: fixed;
	top: 30px;
	right: 10px;
	width: 420px;
	height: 400px;
	z-index: 10;
}

#controlsColumn textarea{
	top: 10;
	right: 10;
	width: 400px;
	height: 400px;
	background-color: #111111;
	color: #eeeeee;
	border: 3px solid #333333;
	font-family: Courier, monospace;
	font-size: 16px;
	resize: none;
}

#sourceCodeTextArea:focus{
	outline: none !important;
	border-color: #444444;
	outline-color: #444444;
}

#controlsColumn :focus{
	outline: none !important;
}

#controlsColumn button {
  background-color: #222222;
  border: 3px solid #333333;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Lucida Console;
}

#controlsColumn button:hover {
  background-color: #333333;
}



#controlsColumn label {
  font-family: Lucida Console, Verdana, monospace;	
  color: #eeeeee;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}
