/*
    Name:       logomor-theme
	Based on Sublime Text's Monokai theme 
*/

.cm-s-logomor-theme.CodeMirror, .cm-s-logomor-theme .CodeMirror-gutters { background-color: #272822; color: #f8f8f2; }
.cm-s-logomor-theme .CodeMirror-gutters {background: #272822; border-right: 0px;}
.cm-s-logomor-theme .CodeMirror-linenumber {color: #90918b;}
.cm-s-logomor-theme .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.cm-s-logomor-theme div.CodeMirror-selected { background: #49483E; }


.cm-s-logomor-theme span.cm-comment { color: #75715e; }
.cm-s-logomor-theme span.cm-variable { color: #a6e22e; }
.cm-s-logomor-theme span.cm-string { color: #e6db74; }
.cm-s-logomor-theme span.cm-operator { color: #d0d0d0; }
.cm-s-logomor-theme span.cm-enclosing { color: #d0d0d0; }
.cm-s-logomor-theme span.cm-number, span.cm-atom { color: #ae81ff; }
.cm-s-logomor-theme span.cm-move { color: #fd971f; }
.cm-s-logomor-theme span.cm-command { color: #66d9ef; }
.cm-s-logomor-theme span.cm-keyword { color: #f92672; }

.cm-s-logomor-theme .CodeMirror-activeline-background { background: #373831; }
.cm-s-logomor-theme .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.cm-s-logomor-theme span.cm-matchhighlight {
	outline: 1px solid #d0d0d0;
	/*border-radius: 2px;*/
	/*background: rgba(73, 72, 62, .99);*/
}


